@import './posCalc.scss';


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html, body {
  margin: 0; 
  padding: 0;
  right: 0;
  height: 100%; 
  width: 100%;  
}
html {
  font-size: .625em;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  line-height: 1.7;
  box-sizing: border-box;
}